@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 1110px;
}
