.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1EADC;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    margin-top: 130px;
    flex-direction: column;
}

.footer-line-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer-line-1__contacts {
    padding-left: 297px;
}

.footer-line-1__contact-phone {
    padding-bottom: 9px;
}

.footer-line-1__contact-email {

}

.footer-line-2 {

}