.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #000000;
    text-decoration: none;
    margin-right: 45px;
}

.nav__link_margin-right-0 {
    margin-right: 0px;
}